.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .login-container.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  /* Add your background animation styles here */

